.login__left--narrow {
  margin: 0 74px
}

.login__right {
  background-color: #F57676;
  height: 100vh;
}

.login__logo-container {
  margin-top: 64px;
}

.login__logo {
  width: 100px
}

.login__title {
  color: #F57676;
  font-weight: bolder;
  font-family: "Asap", sans-serif;
  font-size: 48px;
  margin-top: 96px;
}