.login__left--narrow {
  margin: 0 74px;
  width: 75%;
}

.login__right {
  background-color: #F57676;
  height: 100vh;
}

.login__logo-container {
  margin-top: 64px;
}

.login__logo {
  width: 100px
}

.login__title {
  color: #F57676;
  font-weight: bolder;
  font-family: "Asap", sans-serif;
  font-size: 48px;
  margin-top: 96px;
}

.login__form {
  margin-top: -12px;
}

.login__input, .ant-input {
  background-color: #F4F4F4;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: "Asap", sans-serif;
}

.login__button--login {
  margin-top: 64px;
}

.login__button--bold {
  font-weight: bold;
  letter-spacing: 12px;
}

.login__forgot {
  padding-top: -10%;
  margin-left: -16px;
  color: #F57676;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}

.login__userfeedback {
  margin-top: 64px;
}

.login__alert {
  font-family: "Asap", sans-serif;
  border: none;
  width: 440px;
}

.ant-alert-close-icon {
  line-height: 16px;
}

.login__item {
  margin-bottom: 8px;
}

.login__forgotPassword--container {
  text-align: left;
}

.login__forgotPassword--caption {
  font-family: "Asap", sans-serif;
  margin-top: 8px;
}

.login__resetItem {
  margin-bottom: 0;
}

.login__resetButton {
  font-family: "Asap", sans-serif;
}

.login__resetButton--container {
  text-align: center;
  margin-top: -16px;
}