.login__left--narrow {
  margin: 0 74px
}

.login__right {
  background-color: #F57676;
  height: 100vh;
}

.login__logo-container {
  margin-top: 64px;
}

.login__logo {
  width: 100px
}

.login__title {
  color: #F57676;
  font-weight: bolder;
  font-family: "Asap", sans-serif;
  font-size: 48px;
  margin-top: 96px;
}

.login__form {
  margin-top: -12px;
}

.login__input {
  background-color: #F4F4F4;
  border: none;
}

.login__button {
  margin-top: 64px;
}

.login__button--bold {
  font-weight: bold;
  letter-spacing: 12px;
}

.login__forgot {
  margin-top: -16px;
  color: #F57676;
}