.reply__container {
  margin-top: 2%;
  display: flex;
}

.reply__container-left {
  padding: 1%;
  width: 10%;
}

.reply__container-right {
  padding: 1%;
  box-shadow: 0px 0px 7px rgba(129, 129, 129, 0.6);
  background-color: white;
  border-radius: 8px;
  width: 90%;
  float: right;
}

.reply__title {
  width: 100%;
  margin: 0;
}
