.feed__container {
  margin: 0 auto;
  width: 85%;
}

.feed__title {
  margin-top: 4%;
  font-family: "Asap", sans-serif;
  color: #505050;
  font-weight: bold;
  margin-left: -18px;
}

.feed__filter--button {
  margin-top: 25%;
  background-color: white;
  color: #F57676;
  font-family: "Asap", sans-serif;
  border: none;
  box-shadow: 0px 0px 7px rgba(129, 129, 129, 0.12);
  border-radius: 10px;
  font-weight: 400;
  float: right;
  margin-right: -14px;
  font-weight: bold;
}


.anticon {
  vertical-align: 0;
}