.filter__container {
  width: 300px
}

.filter__subtitle {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  margin-bottom: -4px;
}

.filter__title {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  color: #F57676;
  text-align: center;
  font-size: 150%;
  margin: 4% auto;
}

.filter__submit {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 4px;
  display: flex;
}