.profile__container {
  background-color: #FFFAFA;
}

.profile__title {
  font-weight: 700;
  font-size: 50px;
  color: #F57676;
  margin-top: 6%;
  margin-bottom: 2%;
  font-family: "Asap", sans-serif;
  text-align: left;
}

.profile__datePicker, .profile__address {
  width: 100%;
}

.profile__submit {
  margin-top: 4%;
}

.profile__button--submit {
  margin-top: 32px;
  margin-bottom: 32px;
}

.profile__button--bold {
  font-weight: bold;
  letter-spacing: 12px;
}

.profile__input--caption {
  font-family:"Asap", sans-serif;
  font-weight: bold;
  margin-bottom: -8px;
}

.profile__alertMessage {
  width: 450px;
  margin-bottom: 64px;
}