.post__container {
  margin-top: 6%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(129, 129, 129, 0.12);
  border-radius: 10px;
  padding: 4% 6%;
}

.post__name {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  color: #505050;
}

.post__content {
  font-family: "Asap", sans-serif;
  color: #808080;
  margin-top: 4%;
}

.ant-carousel .slick-slide {
  text-align: center;
}

.ant-carousel .slick-slide h3 {
  color: black;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #F57676 !important;
  margin-top: 24px;
}

.ant-carousel .slick-dots li button {
  background-color: #F57676 !important;
  margin-top: 24px;
}

.post__carousel {
  margin: 4% 0;
}

.post__image {
  width: 40% !important;
  border-radius: 10px;
}

.post__tags {
  margin-top: 4%;
  font-family: "Asap", sans-serif;
}

.post__reactions {
  margin-top: 8%;
}

.post__react, .post__date {
  font-family: "Asap", sans-serif;
}

.post__react:hover {
  cursor: pointer;
}

.post__react--count {
  padding-left: 4px;
  padding-right: 16px;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}

.post__date {
  margin-top: -2px;
  color: #F57676;
  font-weight: bold;
}

.post__name--hover:hover {
  cursor: pointer;
}