.profilemodal__header {
  padding-bottom: 4%;
}

.profilemodal__image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 7px rgba(129, 129, 129, 0.4);
}

.profilemodal__image-container {
  padding-top: 8%;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 65%;
}

.profilemodal__header-text {
  text-align: center;
  padding-top: 4%;
}

.profilemodal__header-name {
  margin: 0;
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.profilemodal__occupation {
  text-align: center;
  width: 30%;
  border-radius: 15px;
  background-color: #FFDCDC;
  color: #F57676;
  padding: 0;
  margin: auto;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 120%;
  margin-top: 8px;
}

.profilemodal__button-container {
  text-align: center;
  padding-top: 4%;
}

.profilemodal__button-1, .profilemodal__button-2 {
  border-radius: 15px;
  width: 40%;
}

.profilemodal__button-1 {
  margin-right: 5px;
}

.profilemodal__button-2 {
  margin-left: 5px;
}

.profilemodal__body-container {
  padding-top: 2.5%;
  width: 90%;
  margin: 0 auto;
}

.profilemodal__body {
  padding-bottom: 32px;
}

.profilemodal__body-text {
  font-weight: 600;
  color: #F57676;
  margin: 0;
}

.profilemodal__col {
  display: flex;
  text-align: center;
}

.profilemodal__icon-container {
  display: flex;
  align-items: center;
}

.profilemodal__icon {
  color: #F57676;
  padding-right: 10px !important;
}

.profilemodal__icon-text {
  padding-bottom: 1.5px;
}

.profilemodal__container {
  font-family: "Asap", sans-serif;
  margin: 0 auto;
}

.profilemodal__reviews--title {
  color: #F57676;
  font-weight: bold;
  font-size: 135%;
  margin-top: 32px;
  text-align: center;
}

.profilemodal__reviews--container {
  margin-top: 4%;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(129, 129, 129, 0.12);
  border-radius: 10px;
  padding: 4% 4%;
}

.profilemodal__reviews--date, .profilemodal__reviews--name {
  font-weight: bold;
}

.profilemodal__reviews--date {
  color: #F57676;
  margin-bottom: 12px;
}

.profilemodal__reviews--content {
  margin-top: 8px;
}