.reviews__container {
  width: 90%;
  margin: 4% auto;
}

.reviews__title {
  font-family: "Asap", sans-serif;
  color: #505050;
  font-weight: bold;
}

.reviews__sortby {
  width: 200px;
  float: right;
  margin-top: 8px;
  font-weight: bold;
}

.reviews__reviewscard--wrapper {
  margin: 0 auto;
  margin-top: 2%;
}

.reviews__spinner {
  display: flex;
  margin: 0 auto;
  margin-top: 20%;
}

.reviews__toggle {
  font-family: "Asap", sans-serif;
  font-weight: bold;
}

.reviews__toggle--wrapper {
  text-align: center;
  margin-top: 16px;
}

.reviews__alert--container {
  text-align: center;
  font-family: "Asap", sans-serif;
  margin-top: 32px;
}