.signup__background {
  width: 100vw;
  height: 100vh;
}

.signup__suLeft {
  background-color: #F57676;
  height: 100vh;
}
.signup__removePadding {
  padding-left: 0;
  padding-right: 0;
}

.signup__removeMargin {
  margin-left: 0;
  margin-right: 0;
}

.signup__logoBox {
  text-align: center;
  padding-top: 8%;
}

.signup__formBox {
  height: 90%;
  width: 100%;
  padding-top: 8%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 4%;
}

.signup__formTitle {
  font-weight: 700;
  font-size: 45px;
  color: #F57676;
  margin: 0;
}

.signup__formBody {
  font-size: 16px;
  margin: 0;
}

.signup__inputBox {
  display: flex;
  padding-top: 6%;
}

.signup__inputBox2 {
  display: flex;
  padding-top: 2%;
}

.signup__inputWrap {
  width: 100%;
  height: 80px;
}

.signup__footer {
  background-color: #F4F4F4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.signup__prevButton {
  color: #F57676;
  border-radius: 8px;
  border: 1px solid #F57676;
  width: 120px;
  padding: 6px;
  transition: 0.4s;
}

.signup__prevButton:hover {
  background-color: rgba(255, 255, 255, .1);
}

.signup__nextButton {
  width: 120px;
  padding: 6px;
  color: white;
  border-radius: 10px;
  background-color: #F57676;
  transition: 0.4s;
  border: 1px solid transparent;
}

.signup__nextButton:hover {
  background-color: rgba(245, 118, 118, .7);
}

.signup__buttonWrapper {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 12%;
}

.signup__buttonWrapper2 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 12%;
}

button:focus {
  outline: 0 !important;
}

button:focus:active {
  outline: 0 !important;
}
